html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(13, 79, 82);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0.2em;
    list-style: none;
    font-weight: bold;
    float:right;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding: 0.2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.content {
    width: 70%;
    margin: 1em auto;
    padding: 2em;
}
#particles-js {
    background: rgb(13, 79, 82);
    vertical-align: bottom;
    min-height: 95.1vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }