body {
    margin: 60px auto;
    width: 70%;
    font-size: 11pt; 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.dataframe {
    border-collapse: collapse; 
    border: 1px solid silver;
}

.dataframe td, th {
    padding: 5px;
}

.dataframe tr:nth-child(even) {
    background: #E0E0E0;
}

.dataframe tr:hover {
    background: silver;
    cursor: pointer;
}
